
.card{
  height: 14em;
  width: 9em;
  position: relative;
  margin: 1%;
  align-items: center;
}

label{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}
h5{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 0;
}
h2{
    font-size: 28px;
}
span{
    font-weight: 400;
    font-size: 18px;
    color: #7b7b93;
}

.alignRadio{
  position: absolute;
  top: 2rem;

}
