<main>
  <div class="row mb-2 mt-5">
      <div class="col-sm-6 offset-3">
          <div class="row">
              <div class="col-md-6">
                  <div class="input-group">
                      <div class="custom-file">
                          <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required (change)="handleImport($event)"
                              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8 offset-2">
          <table class="table table-bordered table-responsive" >
              <thead>
                  <tr>
                      <th style="text-align: center;" scope="col">Criterio</th>
                      <th >pesos</th>
                      <th style="text-align: center;" scope="col">SI</th>
                      <th style="text-align: center;" scope="col">NO</th>
                      <th style="text-align: center;" scope="col">N/A</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngIf="questions.length; else elseBlock; ">

                      <tr [ngClass]="validateTitle(question.criterio)" *ngFor="let question of questions; let i = index" (change)="event($event, question)" (change)="onChange(element)">

                          <td [ngClass]="verifyBlankClass(question.criterio)" [attr.colspan]="validateColspan(question.criterio)">{{question.criterio}}</td>
                          <td >{{question.pesos}}</td>
                          <td style="text-align: center;" [ngClass]="validateRadio(question.criterio)">
                            <input type="radio" name="{{i}}" id="{{i}}SI">
                          </td>
                          <td style="text-align: center;" [ngClass]="validateRadio(question.criterio)">
                            <input type="radio" name="{{i}}" id="{{i}}NO">
                          </td>
                          <td style="text-align: center;" [ngClass]="validateRadio(question.criterio)">
                            <input type="radio" name="{{i}}" id="{{i}}NA">
                          </td>
                      </tr>
                  </ng-container>
                  <ng-template #elseBlock>
                      <tr>
                          <td colspan="5" class="text-center">No hay datos para mostrar</td>
                      </tr>
                  </ng-template>
              </tbody>
          </table>
      </div>
  </div>
</main>
